.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  &__icon{
    margin-left: 1rem;
    width: auto;
    height: 4rem;
    border-radius: 100%;
    object-fit:cover;
    transition-duration: 1s;
    &:hover{
      transform: rotate(-5deg);
    }
  }

  &__item {
    color: var(--grey-light-4);
    padding: 0;
    //border: 1px solid var(--grey-light-4);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-seri;
    font-size: 1.5rem;
    text-decoration: none;
    width: 10rem;
    text-align: center;

    &:hover {
      color: var(--grey-light-1);
      text-shadow: 0.5px 1px 2px  var(--grey-light-1);
    }

  }
}

.btn {
  //Colors
  &--yellow {
    background-color: var(--color-primary-dark);
    color: var(--grey-dark-1);
  }

  //Heights
  &--medium {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-seri;
    font-size: 1.5rem;
    text-decoration: none;
    width: 12rem;
    text-align: center;
    height: 3rem;
    border-radius: 2rem;
    line-height: 3rem;
  }
}

.main{
  &__background{
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
  }
  &__title{
    height: 0%;
    position: relative;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }
}