.navbar {
  display: none;
  @media only screen and (min-width: 700px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    &__icon {
      width: auto;
      height: 4rem;
      transition-duration: 1s;

      &:hover {
        transform: rotate(-10deg);
      }
    }

    &__item {
      margin: 10px;
      height: 4rem;
      cursor: pointer;
      transition-duration: 0.4s;

      &__text {
        padding-right: 0.5rem;
        line-height: 4rem;
        color: var(--grey-light-4);
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-seri;
        font-size: 1.5rem;
        text-decoration: none;
        width: 10rem;
        text-align: center;
      }

      &__icon {
        color: var(--grey-light-4);
        margin: 5px 5px;
      }

      &:hover>&__icon,
      &:hover>&__text {
        color: var(--grey-light-1);
      }

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px yellow;
      }
    }
  }
}

.btn {
  //Colors
  &--yellow {
    background-color: var(--color-primary);
    color: var(--grey-dark-1);

    &:hover {
      box-shadow: 0px 4px 4px var(--color-primary);
      border: 1px solid var(--color-primary-dark)
    }
  }

  //Heights
  &--medium {
    margin: 5px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-seri;
    font-size: 1.5rem;
    text-decoration: none;
    width: 12rem;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    border-radius: 2rem;

  }
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 3.5rem;
  cursor: default;
  transition-duration: 0.4s;

  &__title {
    padding-right: 0.5rem;
    line-height: 5rem;
    color: var(--grey-light-4);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-seri;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
  }

  &__img {
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
  }
}

.main {
  background-image: url("/img/patagonia-azul-portada.webp");
  background-size: cover;

  &__background {
    width: 100%;
    height: auto;
  }

  &__title {
    position: relative;
    top: 8px;
    left: 16px;
    font-size: 18px;
    z-index: 1;
  }
}

.burger {
  display: none;
  @media only screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 5rem;
    min-width: 5rem;
    cursor: pointer;
    transition-duration: 0.4s;
    &__line {
      width: 15px;
      height: 3px;
      margin: 2px 0px;
      background-color: var(--grey-light-4);
      align-self: center;
    
    
  }
  &:hover {
      background-color: var(--grey-light-1);
    }
  }
}