.header{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--grey-dark-1);
  max-width: 100%;
  min-height: 4.5rem;
  align-content: center;  
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main{
  max-width: 100%;
  min-height: 100rem;
}

.footer{
  display: flex;
  background-color: var(--grey-dark-1);
  max-width: 100%;
  min-height: 10rem;
  align-content: center;  
}